services:
    app:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: hubspot_app
        restart: unless-stopped
        volumes:
            - '.:/var/www'
        depends_on:
            - mysql
            - redis
    nginx:
        image: 'nginx:stable'
        container_name: hubspot_nginx
        restart: unless-stopped
        ports:
            - '8000:80'
        volumes:
            - '.:/var/www'
            - './docker/nginx/default.conf:/etc/nginx/conf.d/default.conf'
        depends_on:
            - app
    mysql:
        image: 'mysql:8.0'
        container_name: hubspot_mysql
        restart: unless-stopped
        ports:
            - '3307:3306'
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: hubspot_middleware
        volumes:
            - 'mysql_data:/var/lib/mysql'
    redis:
        image: 'redis:alpine'
        container_name: hubspot_redis
        restart: unless-stopped
        ports:
            - '6380:6379'
    horizon:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: hubspot_horizon
        command: 'php artisan horizon'
        volumes:
            - '.:/var/www'
        depends_on:
            - redis
            - mysql
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: phpmyadmin
        restart: unless-stopped
        ports:
            - '8001:80'
        environment:
            PMA_HOST: mysql
            PMA_PORT: 3306
            PMA_USER: root
            PMA_PASSWORD: root
        depends_on:
            - mysql
volumes:
    mysql_data: null
    sail-mysql:
        driver: local
